# Eclipse Project
.classpath
.project
.settings
/target

# IDEA Project
workspace.xml
tasks.xml
.idea
*.iml

# Binary Files
*.ear
*.jar
*.war
*.exe

# Log Files
*.log

# System Cache Files
.DS_Store
Thumbs.db
desktop.ini

# Embedded MySQL database
.mysqltmp